<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tuloslista</title>
  <link type="text/css" 
        rel="stylesheet" 
        href="css/bootstrap.min.css" 
        th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
  <h1 style="margin: 10px;">Tulokset</h1>

  <table class="table table-striped">
    <tr>
      <th>Pisteet</th>
      <th>Sijoitus</th>
      <th>UMAT</th>
    </tr>
    
    <tr th:each="tulos : ${tulokset}">
      <td th:text="${tulos.pisteet}"></td>
      <td th:text="${tulos.sijoitus}"></td>
      <td th:text="${tulos.umat}"></td>
      <td>
        <a th:href="@{/tulos/delete/{id}(id=${tulos.tulosId})}"
          class="btn btn-danger"
          onclick="return confirm('Are you sure you want to delete?')">
          Poista
        </a>
      </td>
      <td>
        <a th:href="@{/tulos/edit/{id}(id=${tulos.tulosId})}" class="btn btn-primary">
          Muokkaa
        </a>
      </td>
    </tr>
  </table>
  <a href="/tulos/add" class="btn-success">Lisää tulos</a>
</body>
</html>